/*
_______________________________
Desktop version layout - place your custom code here */

body {
    background: #000;
}


/*
_______________________________
Verbum Styles */

.verbum article {
    margin-bottom: 4em;
}

.verbum article .post-body {
    background: #ffffff;
    padding: 1em 1em 1em 1em;
}

.verbum article .post-body h1 {
    font-size: 1.5em;

    margin: 0 0 0.6em 0;
    padding-bottom: 0.2em;
    border-bottom: 1px #c1c1c1 dotted;
}

.verbum article .post-meta {
    background: #ffffff;
    width: 19.379%;
}

.verbum article .post-meta .meta-block {
    line-height: 1em;
    margin: 0 auto;
    width: 80%;
}

.verbum article .post-meta .date {
    border-bottom: 1px #c1c1c1 dotted;
    padding-bottom: 0.2em;
}

.verbum article .post-meta .date .day {
    padding-top: 0.55em;
    font-size: 2.5em;
    float: left;
}

.verbum article .post-meta .date .month-year {
    padding-top: 0.9em;
    padding-left: 0.2em;
    line-height: 1em;
    float: left;
}

.verbum article .post-meta .date .month {
    font-size: 0.9em;
}

.verbum article .post-meta .date .year {
    font-size: 0.9em;
}

.verbum article .post-meta .author {
    padding-top: 1em;
    padding-left: 2em;
}





.clearfix {
    clear: both;
}


/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

    .examplecontainer {}

    body {}

}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

    /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
    .download {
    background: url(../img/downarrow@2x.png) no-repeat;
    background-size: 27px 28px;
    }
    */

}