/*
_______________________________
Desktop version layout - place your custom code here */

/*
--------------------------
Misc */

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.clearfix {
    *display: inline-block;
    height: 1%;
}

/*
-------------------------
General */

html, body { height: 100%; }

body {
    color: #555;
    font: 12px/18px 'Istok Web', Helvetica, Arial, sans-serif;
    background: #191919 url(../img/bg.png);
}

a { color: #c14b0d; text-decoration: none; }

a:link { color: #c14b0d; }
a:visited { color: #c14b0d; }
a:active { color: #c14b0d; }
a:hover { color: #eb6721; text-decoration: underline }

/*
--------------------------
Text Formatting */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 25px 0;
    font-family: 'Play', Helvetica, sans-serif;
    font-weight: normal;
}

h1 { font-size: 26px }

h2 { font-size: 24px }

h3 { font-size: 20px }

h4 { font-size: 18px }

h5 { font-size: 14px }

h6 { font-size: 12px }


/*
--------------------------
Menu Bar */

.top-bar {
    background: url(../img/darkbg.jpg);
    max-width: 1140px;
    height: 40px;
    margin-bottom: 50px;
}

nav#main a {
    color: #ddd;
    padding: 11px 20px 11px 20px;
}

nav#main a:hover {
    text-decoration: none;
    cursor: pointer;
}

nav#main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: outside;
    position: relative;
}

nav#main ul > li {
    float: left;
    padding: 0 0 0 0px;
    margin: 0 0px 0 0px;
    display: inline;
    border-right: dotted 1px #444;
}

nav#main a {
    display: block;
    text-shadow: 1px 1px #444;
}

nav#main a:hover {
    color: #fff;
    display: block;

}

/*
--------------------------
Social Media Icons */

ul#social-media-icons {
    margin: 0;
    list-style: none;
    text-align: center;
}

ul#social-media-icons li {
    margin: 0;
    padding-top: 8px;
    display: inline-block;
    height: 40px;
}

/*
--------------------------
Messages */

ul#messages {
    margin: 0 0 15px 0;
    list-style: none;
}

ul#messages li {
    font-family: 'Play', Helvetica, sans-serif;
    background: url(../img/postbg.jpg);
    padding: 8px 8px 8px 8px;
    margin: 0 0 10px 0;
}

ul#messages li a.clear {
    padding-right: 15px;
    color: #acacac;
    float: right;
}

ul#messages li a.clear:hover {
    color: #888;
    text-decoration: none;
}

ul#messages .debug {
    background: #EEE;
    border: 1px solid #BBB;
}

ul#messages .info {
    background: #DEF;
    border: 1px solid #9BC;
}

ul#messages .success {
    background: #EFD;
    border: 1px solid #BC9;
}

ul#messages .warning {
    background: #FED;
    border: 1px solid #CB9;
}

ul#messages .error {
    background: #FDD;
    border: 1px solid #C99;
}

/*
--------------------------
Footer */

footer {
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    line-height: 18px;
    color: #ddd;
    display: block;
    background: url(../img/darkbg.jpg);
    margin: 0 0 0 0;
    font-weight: bold;
    overflow: hidden;
}

footer a { color: #ddd; }

footer a:visited { color: #ddd; }
footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer .legal {
    float: left;
}

footer .hosted-on {
    float: right;
}

/*
--------------------------
Make Footer Stick */

#main-wrapper {
    min-height: 100%;
}

.ie6 #main-wrapper, .ie8 #main-wrapper {
    display: table;
    height: 100%
}

#content {
    overflow: auto;
    padding-bottom: 38px;
}

#footer-wrapper {
    position: relative;
    margin-top: -38px;
    height: 38px;
    clear: both;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}


/*
_______________________________
Sidebar Styles */

.sidebar-item {
    font: 11px/18px Helvetica, Arial, sans-serif;
    color: #888;
    background: url(../img/postbg.jpg);

    box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 3px;
}

.sidebar-item .title {
    font-size: 16px;
    font-family: 'Play', Helvetica, sans-serif;
    line-height: 22px;
    font-weight: bold;
    text-align: center;

    background:url(../img/darkbg.jpg);
    color:#aaa;
    padding: 10px 10px 10px 10px;
    margin:0 0 25px 0;
}

.sidebar-item .title a {
    color: #eee;
    display: block;
}

.sidebar-item .title a:hover { text-decoration: none; }

.sidebar-item h2 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Play', arial, serif;
    color: #555;
}

.sidebar-item .inner {
    padding: 0 10px 25px 25px;
    margin: 0 0 25px;
    border-bottom: dotted 1px #ccc;
}

/*
--------------------------
Tweet Styles */

ul.tweets {
    list-style: none;
    margin: 0;
}

ul.tweets li {
    margin: 0;
}


/*
_______________________________
Verbum Styles */

.verbum article {
    padding: 0 0 75px 0;
}

.verbum article .shadow {
    background: url(../img/shadow.png) no-repeat center bottom;
    padding-bottom: 13px;
}

.verbum article .frame {
    min-height: 125px;
    padding: 30px 30px 15px 30px;
    border: solid 1px #e7e7e7;
    border-bottom: none;
    background: #fff;
}

.verbum article header h2 {
    font-size: 20px;
    color: #292929;
    margin: 0 0 15px;
    font-family: 'Play', arial, serif;
    font-weight: normal;
    padding-bottom: 15px;
    border-bottom: dotted 1px #ddd;
}

.verbum article header h2 a { color: #3a3a3a; }
.verbum article header h2 a:hover { text-decoration: none; }


.verbum article aside {
    background: url(../img/postbg.jpg);
    width: 117px;
    font: 11px/13px Helvetica, Arial, sans-serif;
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
}



.verbum article aside .bar-frame { padding: 15px 15px 25px 15px }

.verbum article aside .date {
    width: 90px;
    font-size: 14px;
    line-height: 18px;
    color: #a4a4a4;
    font-weight: bold;
    font-family: 'Play', Helvetica;
    border-bottom: dotted 1px #ccc;
}

.verbum article aside .day {
    float: left;
    font-size: 34px;
    line-height: 48px;
    color: #2e2e2e;
    letter-spacing: -3px;
}

.verbum article aside .date .holder {
    float: left;
    width: 49px;
    margin-left: 7px;
    padding: 10px 0 0;
}

.verbum article aside .month {
    color: #797979;
    display: block;
    margin: 0 0 -6px;
    text-transform: uppercase;
}

.verbum article aside .title {
    display: block;
    font-size: 09px;
    line-height: 12px;
    font-weight: bold;
    color: #494949;
}

.verbum article aside .author,
.verbum article aside .category,
.verbum article aside .comments,
.verbum article aside .tags {
    width: 100%;
    padding: 15px 14px 0 0;
}

.verbum article aside .tags ul {
    margin: 0;
    list-style: none;
}

.verbum article aside .tags ul li {
    margin: 0;
    display: inline;
    font-size: 1.2em;
}

.verbum article aside .tags ul li a {

}

.verbum article aside .tags ul li:after {
    content: ",";
}

.verbum article aside .tags ul li.last:after {
    content: "";
}

.verbum article.detail, .verbum article.last {
    padding-bottom: 50px;
}

/*
--------------------------
Verbum Pager */

.verbum .pager {
    list-style: none;
    width: 654px;
    margin: 0 0 50px 0;
}

.verbum .pager li {
    margin: 0;
    display: inline;
}

.verbum .pager li.next { float: right; }

.verbum .pager li a {
    margin: 0;
    display: inline-block;
    padding: 5px 8px 5px 8px;
    background: url(../img/postbg.jpg);
    color: #191919;
    font-weight: bold;
}

.verbum .pager li a { color: #191919; }

.verbum .pager li a:link { color: #191919; }
.verbum .pager li a:active { color: #191919; }
.verbum .pager li a:visited { color: #191919; }
.verbum .pager li a:hover { color: #484848; text-decoration: none; }

.verbum .pager li.prev a:before {
    content: "⟵ ";
}

.verbum .pager li.next a:after {
    content: " ⟶";
}

/*
--------------------------
DisQus Comments */

.verbum #comments {
    padding-bottom: 75px;
}

.verbum #comments .shadow {
    background: url(../img/shadow.png) no-repeat center bottom;
    padding-bottom: 13px;
}

.verbum #comments .frame {
    width: 594px;
    min-height: 125px;
    padding: 30px 30px 15px 30px;
    border: solid 1px #e7e7e7;
    border-bottom: none;
    background: #fff;
}

/*
--------------------------
Verbum Posts */

.verbum article .codeblock {
    max-width: 564px;
}

.verbum article .codeblock pre {
    width: 100%;
    overflow-x: auto;
    background: #111;
    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
    font-weight: normal;
    border-top: 1px #aaaaaa solid;
}

/*
--------------------------
Verbum Links */

.verbum article .link {
    line-height: 1.8em;
}

.verbum article .link a:before {
    content:"➞ ";
}

.verbum article .link a {
    font-size: 1.8em;
    height: 1.8em;
}

.verbum article .link .url:before {
    content: "(";
    font-style: normal;
}

.verbum article .link .url {
    display: inline;
    font-size: 1.3em;
    font-style: italic;
    position: relative;
    top: -2px;
    color: #969696;
}

.verbum article .link .url:after {
    content: " )";
    font-style: normal;
}

.verbum article .link .summary {
    margin-top: 1em;
}

/*
--------------------------
Flatpages */

.flatpages section article {
    background: #fff;
    padding: 1em 1em 1em 1em;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

    /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
    .download {
    background: url(../img/downarrow@2x.png) no-repeat;
    background-size: 27px 28px;
    }
    */

}