{% extends "site_base.html" %}
{% load url from future %}
{% load disqus_tags %}

{% block feeds %}
    {{ block.super }}
    
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ SITE_NAME }}" href="{% url 'verbum_rss_all' %}" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for {{ SITE_NAME }}" href="{% url 'verbum_atom_all' %}" />
{% endblock %}

{% block body_class %}verbum{% endblock %}

{% block extra_body %}
    {% disqus_num_replies %}
{% endblock %}
