{% extends "verbum/base.html" %}
{% load disqus_tags %}

{% set_disqus_identifier object.category "_" object.id %}
{% set_disqus_url object.get_absolute_url %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block body %}
    <article>
        <div class="box clearfix">
            <div class="shadow post">
                <div class="frame">
                    <header>
                        <h2><a href="{{ object.get_absolute_url }}" title="{{ object.get_title }}">{{ object.get_title }}</a></h2>
                    </header>

                    {% block verbum_body %}
                    {% endblock %}
                </div>
            </div>

            <aside>
                <div class="bar-frame">
                    <div class="date clearfix">
                        <strong class="day">{{ object.when|date:"j" }}</strong>
                        <div class="holder">
                            <span class="month">{{ object.when|date:"M" }}</span>
                            <span class="year">{{ object.when|date:"Y" }}</span>
                        </div>
                    </div>

                    <div class="author">
                        <strong class="title">AUTHOR</strong>
                        <a href="" title="" rel="">{{ object.author.get_full_name|default:object.author }}</a>
                    </div>

                    {% if object.category %}
                        <div class="category">
                            <strong class="title">CATEGORY</strong>
                            <a href="" title="" rel="">{{ object.category }}</a>
                        </div>
                    {% endif %}

                    {% if object.allow_comments %}
                        <div class="comments">
                            <strong class="title">COMMENTS</strong>
                            <a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.category }}_{{ object.id }}">View Comments</a>
                        </div>
                    {% endif %}
                </div>
            </aside>
        </div>
    </article>

    {% if object.allow_comments %}
        <section id="comments">
            <div class="box clearfix">
                <div class="shadow post">
                    <div class="frame">
                        {% disqus_show_comments %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    {% disqus_num_replies %}
{% endblock %}