{% load i18n compress ifsetting_tag %}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-us" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
    <meta charset="utf-8">

    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css %}
        {# The Columnal Grid (1140px wide base, load first), Type and image presets, and mobile stylesheet #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/columnal/columnal.css" type="text/css" media="screen" />

        {# Fixes for IE #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/columnal/ie.css" type="text/css" media="screen" />

        {# use "fixed-984px-ie.css" or "fixed-960px-ie.css for a 984px or 960px fixed width for IE6 and 7 #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/columnal/fixed-984px-ie.css" type="text/css" media="screen" />

        {# Fixes for IE6, only needed if IE 6 will be supported - width must match 984px or 960px of css file used above #}
        {# Use .imagescale to fix IE6 issues with full-column width images (class must be added to any image wider than the column it is placed into) #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/columnal/ie6-984px.css" type="text/css" media="screen" />
        {# End Fixed for IE #}

        {# Customize Here #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/evilgenius.css" type="text/css" media="screen" />

        <link href='http://fonts.googleapis.com/css?family=Rokkitt&amp;v2' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700&amp;v2' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Play:400,700&amp;v2' rel='stylesheet' type='text/css' />

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    {% endcompress %}

    {% ifsetting TEMPLATE_WIREFRAME %}
        {# Page build tools - only needed while creating a site, remove when launching - Gray box colors and page debugging tools #}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/columnal/build.css" type="text/css" media="screen" />
    {% endifsetting %}
</head>

<body class="{% block body_class %}base{% endblock %}">

    <div class="container{% ifsetting TEMPLATE_WIREFRAME %} test{% endifsetting %}">

        <div class="row">
            <nav class="col_12">
                <ul>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </div>

        {# Flash Messages Go Here #}

        <div class="row">

            <div class="col_3">

                <header class="col_12 last">
                    <h1>{{ SITE_NAME }}</h1>
                </header>

                {# Other Sidebar Items Go Here #}

            </div>

            <section id="main" class="col_9 last">
                {% block body %}
                {% endblock %}
            </section>

        </div>

        <div class="row">
            <footer>
                {% include "_footer.html" %}
            </footer>
        </div>

    </div>


    {% compress js %}
        <script src="{% block jquery_src %}{{ STATIC_URL }}js/jquery-1.6.2.min.js{% endblock %}" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    {% endcompress %}
</body>

</html>